body
{
    background-color: beige;
}
h1
{
    font-style: oblique;
    text-align: center;
}

#field1
{
    background-color: paleturquoise;   
}

#field3
{
    background-color: plum;
}

#sugs
{
    width: 200px;
    height: 100px;
}
#message {
    display:none;
    background: beige;
    color: #000;
    position: relative;
    padding: 20px;
    margin-top: 10px;
}
#message p {
    padding: 10px 35px;
    font-size: 10pt;
}
.valid {
    color: green;
}
.valid:before {
    position: relative;
    left: -35px;
    content: "✔";
}
.invalid {
    color: red;
}

.invalid:before {
    position: relative;
    left: -35px;
    content: "✖";
}
.button
{
    color: black;
}
.tabla
{
    border-collapse: collapse;    
}
fieldset>legend
{
    font-style: italic;
    font-weight: bold;    
}
fieldset>p
{
    font-style: oblique;
    font-size: 10pt;
}
.field
{
    background-color: burlywood;
}

img
{
    border-radius: 8px;
    opacity: 0.5;
    width: 100%;
    height: 160px;

}
.blink
{
  -webkit-animation: blink 1s linear infinite;
  -moz-animation: blink 1s linear infinite;
  animation: blink 1s linear infinite;
}
@keyframes blink 
{  
    0% { color: red; }
    100% { color: black; }
}
@-webkit-keyframes blink 
{
    0% { color: red; }
    100% { color: black; }
}
.asterisco 
{ 
    color: #d00;
    size: 5pt;    
}