body
{
    background-color: beige;
}
#field1
{
    background-color: cadetblue;   
}
#field2
{
    background-color: burlywood;
}
#field3
{
    background-color: aqua;
}
.button
{
    color: coral;
}
.tabla{    
    border: 1px solid black;
    border-collapse: collapse;    
}