body {
    background-color: powderblue;

}
h1 {
    color: blue;

}
#p1 {
    color: red;

}
.clase{
    color: palegreen;
}
.tabla{
    background: beige;
    border: 1px solid black;
    border-collapse: collapse;
}